.body{
   background-color:#85c1e9;
    position: fixed;
  
    width: 100%;
    height: 100%;
}
@media (max-width: 768px) {
    .container {
        width: 100%;
        padding: 10px;
    }

    .form-title {
        font-size: 20px;
    }

    .form-container {
        padding: 15px;
    }
}

@media (max-width: 480px) {
    .logo-container h2 {
        font-size: 28px;
    }

    .form-title {
        font-size: 18px;
    }

    .signup-link h3 {
        font-size: 14px;
    }
}

  
 
  .login{
    flex-direction: column;
    align-items: center;
    color: white;
    padding-top: 40px;
    margin-left: 800px;
    width: 90px;

    font-size: 20px;
  }
  
  .role {
   padding-left: 710px;
   width: 600px;
 }
 
 .loginform{
    background: white;
    padding: 20px 70px;
    text-align: center;
    float: right;
    margin-right: -480px;
    border-radius: 20px;
 }
 .tittle{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding-top: 40px;
    font-size: 28px;

 }
 
  