.body{
    background-color: blue;
     position: fixed;
     width: 100%;
     height: 100%;
     margin: -10px !important;
 }
 @media (max-width: 768px) {
     .container {
         width: 100%;
         padding: 10px;
     }
 
     .form-title {
         font-size: 20px;
     }
 
     .form-container {
         padding: 15px;
     }
 }
 
 @media (max-width: 480px) {
     .logo-container h2 {
         font-size: 28px;
     }
 
     .form-title {
         font-size: 18px;
     }
 
     .signup-link h3 {
         font-size: 14px;
     }
 }
 .custom-popup {
     background-color: #f0dfdf;
     width: 280px;
     border-radius: 5px;
     padding: 10px;
     height: 500px;
     font-size: 13px;
     font-family: 'Times New Roman', Times, serif;
   }
  
  .ol-popup {
     position: absolute;
     background-color: rgb(167, 141, 158);
     box-shadow: 0 1px 4px rgba(0,0,0,0.2);
     padding: 15px;
     border-radius: 10px;
     border: 1px solid #ccc;
     bottom: 12px;
     left: -50px;
     height: 530px;
 
     max-width: 300px;
   }
   
   
   .popup-close-btn {
     position: absolute;
     top: 5px;
     right: 5px;
     font-size: 20px;
     cursor: pointer;
     
   }
   
   .custom-popup img {
     display: block;
     margin: 0 auto 10px auto;
   }
   
   .custom-popup p {
     margin: 10px ;
   }
   
   .custom-popup hr {
     margin: 15px 0;
   }
   
   .custom-popup button {
     display: block;
     margin: 10px ;
     padding: 5px 5px;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     color: blue;
   }
  
   .button1{
     height: 100vh;
     position: relative;
   }
   
   